<a href="https://colab.research.google.com/github/ramu11/PyTorch_ML_Models/blob/main/python-fundamentals/Python_fundamentals_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Collections (Arrays)
There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.

* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

* Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

* Dictionary is a collection which is ordered** and changeable. No duplicate members.

### Python Lists
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary,
all with different qualities and usage.

* List items are ordered, changeable, and allow duplicate values.

* List items are indexed, the first item has index [0], the second item has index [1] etc.

* When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

* If you add new items to a list, the new items will be placed at the end of the list.

* The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

In [ ]:
# Lists are created using square brackets:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
# To determine how many items a list has, use the len() function:
print(len(thislist))

3

In [ ]:
# List items can be of any data type:
# A list with strings, integers and boolean values:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [ ]:
# From Python's perspective, lists are defined as objects with the data type 'list':
print(type(list1))

<class 'list'>

In [ ]:
# The list() Constructor
# Using the list() constructor to make a List:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
# List items are indexed and you can access them by referring to the index number:
#Note: The first item has index 0.
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
# Negative indexing means start from the end
#-1 refers to the last item, -2 refers to the second last item etc.

# Print the last item of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [ ]:
# Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5]) # The search will start at index 2 (included) and end at index 5 (not included).

['cherry', 'orange', 'kiwi']

In [ ]:
# This example returns the items from the beginning to, but NOT including, "kiwi":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4]) # ['apple', 'banana', 'cherry', 'orange']

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# This example returns the items from "cherry" to the end:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:]) # ['cherry', 'orange', 'kiwi', 'melon', 'mango']

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
# Specify negative indexes if you want to start the search from the end of the list:

# This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1]) # prints ['orange', 'kiwi', 'melon']

['orange', 'kiwi', 'melon']

In [ ]:
# Check if "apple" is present in the list:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [ ]:
# Python - Change List Items
# To change the value of a specific item, refer to the index number:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist) # prints ['apple', 'blackcurrant', 'cherry']

['apple', 'blackcurrant', 'cherry']

In [ ]:
# Python - Change List Items
# Change a Range of Item Values
# To change the value of items within a specific range, define a list with the new values, and refer to the range of index
# numbers where you want to insert the new values:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist) # prints ['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
# Change the second value by replacing it with two new values:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist) # prints ['apple', 'blackcurrant', 'watermelon', 'cherry']

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
# Change the second and third value by replacing it with one value:

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist) # prints ['apple', 'watermelon']

['apple', 'watermelon']

In [ ]:
# To insert a new list item, without replacing any of the existing values, we can use the insert() method.

# The insert() method inserts an item at the specified index:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist) # prints ['apple', 'banana', 'watermelon', 'cherry']

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
# Add List Items
# To add an item to the end of the list, use the append() method:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist) # prints ['apple', 'banana', 'cherry', 'orange']

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# The insert() method inserts an item at the specified index:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist) # prints ['apple', 'orange', 'banana', 'cherry']

['apple', 'orange', 'banana', 'cherry']

In [ ]:
# To append elements from another list to the current list, use the extend() method.
# Add the elements of tropical to thislist:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist) # prints ['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).
# Add elements of a tuple to a list:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist) # prints ['apple', 'banana', 'cherry', 'kiwi', 'orange']

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
# The remove() method removes the specified item.
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist) # prints ['apple', 'cherry']

['apple', 'cherry']

In [ ]:
# If there are more than one item with the specified value, the remove() method removes the first occurrence:
# Remove the first occurrence of "banana":
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist) # prints ['apple', 'cherry', 'banana', 'kiwi']

['apple', 'cherry', 'banana', 'kiwi']

In [ ]:
# The pop() method removes the specified index.
# Remove the second item:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist) # prints ['apple', 'cherry']

['apple', 'cherry']

In [ ]:
# If you do not specify the index, the pop() method removes the last item.
# Remove the last item:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist) # prints ['apple', 'banana']

['apple', 'banana']

In [ ]:
# The del keyword also removes the specified index:
# Remove the first item:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist) # prints ['banana', 'cherry']

['banana', 'cherry']

In [ ]:
# The clear() method empties the list.

# The list still remains, but it has no content.
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist) # prints []

[]

In [ ]:
# Python - Loop Lists
# Loop Through a List
# You can loop through the list items by using a for loop:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
# You can also loop through the list items by referring to their index number.
# Use the range() and len() functions to create a suitable iterable.
# Print all items by referring to their index number:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i]) # The iterable created in the example above is [0, 1, 2].

apple
banana
cherry

In [ ]:
#Using a While Loop
#You can loop through the list items by using a while loop.
#Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by
#referring to their indexes.

#Remember to increase the index by 1 after each iteration

# Print all items, using a while loop to go through all the index numbers
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [ ]:
# List Comprehension offers the shortest syntax for looping through lists:
# A short hand for loop that will print all items in a list:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [ ]:
# List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
# Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.
# Without list comprehension you will have to write a for statement with a conditional test inside:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist) # ['apple', 'banana', 'mango']

['apple', 'banana', 'mango']

In [ ]:
# With list comprehension you can do all that with only one line of code:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x ]
print(newlist) # ['apple', 'banana', 'mango']

['apple', 'banana', 'mango']

In [ ]:
# Only accept items that are not "apple":
newlist = [x for x in fruits if x!= "apple"] # newlist = [expression for item in iterable if condition == True]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [ ]:
# The iterable can be any iterable object, like a list, tuple, set etc.
# You can use the range() function to create an iterable:
newlist = [x for x in range(10)]
print(newlist) # prints [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Accept only numbers lower than 5:
newlist = [x for x in range(10) if x < 5]
print(newlist) # prints [0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

In [ ]:
# The expression is the current item in the iteration, but it is also the outcome,
#which you can manipulate before it ends up like a list item in the new list:
# Set the values in the new list to upper case:
newlist = [x.upper() for x in fruits]
print(newlist) # prints ['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
# Set all values in the new list to 'hello':
newlist = ['hello' for x in fruits]
print(newlist) # prints ['hello', 'hello', 'hello', 'hello', 'hello']

['hello', 'hello', 'hello', 'hello', 'hello']

In [ ]:
# The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:
# Return "orange" instead of "banana":
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist) # prints ['apple', 'orange', 'cherry', 'kiwi', 'mango']

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [ ]:
# Sort List Alphanumerically
# List objects have a sort() method that will sort the list alphanumerically, ascending, by default:
# Sort the list alphabetically:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist) # prints ['banana', 'kiwi', 'mango', 'orange', 'pineapple']

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
# Sort the list numerically:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist) # prints [23, 50, 65, 82, 100]

[23, 50, 65, 82, 100]

In [ ]:
# To sort descending, use the keyword argument reverse = True:
# Sort the list descending:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist) # prints ['pineapple', 'orange', 'mango', 'kiwi', 'banana']

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
# Sort the list descending:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist) # prints [100, 82, 65, 50, 23]

[100, 82, 65, 50, 23]

In [ ]:
# Customize Sort Function
# You can also customize your own function by using the keyword argument key = function.
# The function will return a number that will be used to sort the list (the lowest number first):

# Sort the list based on how close the number is to 50:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)#[50, 65, 23, 82, 100]

[50, 65, 23, 82, 100]

In [ ]:
# By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:
# Case sensitive sorting can give an unexpected result:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist) # prints ['Kiwi', 'Orange', 'banana', 'cherry']

['Kiwi', 'Orange', 'banana', 'cherry']

In [ ]:
# So if you want a case-insensitive sort function, use str.lower as a key function:
# Perform a case-insensitive sort of the list:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist) # prints ['banana', 'cherry', 'Kiwi', 'Orange']

['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
# The reverse() method reverses the current sorting order of the elements.
# Reverse the order of the list items:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist) # prints ['cherry', 'Kiwi', 'Orange', 'banana']

['cherry', 'Kiwi', 'Orange', 'banana']

In [ ]:
# Python - Copy Lists
# You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1,
# and changes made in list1 will automatically also be made in list2.

# Make a copy of a list with the copy() method:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist) # prints ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

In [ ]:
# Another way to make a copy is to use the built-in method list().
# Make a copy of a list with the list() method:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist) # prints ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

In [ ]:
# You can also make a copy of a list by using the : (slice) operator.
# Make a copy of a list with the slice operator:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist) # prints ['apple', 'banana', 'cherry']

In [ ]:
# Python - Join Lists
# Join Two Lists
# There are several ways to join, or concatenate, two or more lists in Python.

# One of the easiest ways are by using the + operator.
# Join two list:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3) # prints ['a', 'b', 'c', 1, 2, 3]

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# Another way to join two lists is by appending all the items from list2 into list1, one by one:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# Or you can use the extend() method, where the purpose is to add elements from one list to another list:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1) # prints ['a', 'b', 'c', 1, 2, 3]

['a', 'b', 'c', 1, 2, 3]

### Python Tuples
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

To determine how many items a tuple has, use the len() function:

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
# Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
# Tuples allow duplicate values:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
# Print the number of items in the tuple:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple)) # prints 3

3

In [ ]:
# Tuple items can be of any data type:
# A tuple with strings, integers and boolean values:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [ ]:
# One item tuple, remember the comma:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
# It is also possible to use the tuple() constructor to make a tuple.
# Using the tuple() method to make a tuple:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
# Python - Access Tuple Items
# You can access tuple items by referring to the index number, inside square brackets:
# Print the second item in the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1]) # prints banana

In [ ]:
# Negative Indexing
# Negative indexing means start from the end.

#-1 refers to the last item, -2 refers to the second last item etc.

# Print the last item of the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1]) # prints cherry

cherry

In [ ]:
# Range of Indexes
#You can specify a range of indexes by specifying where to start and where to end the range.

#When specifying a range, the return value will be a new tuple with the specified items.

# Return the third, fourth, and fifth item:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5]) # prints ('cherry', 'orange', 'kiwi) # The search will start at index 2 (included) and end at index 5 (not included).

('cherry', 'orange', 'kiwi')

In [ ]:
# This example returns the items from the beginning to, but NOT included, "kiwi":
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4]) # prints ('apple', 'banana', 'cherry', 'orange)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# By leaving out the end value, the range will go on to the end of the tuple:
# This example returns the items from "cherry" and to the end:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:]) # prints ('cherry', 'orange', 'kiwi', 'melon', 'mango')

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
# Range of Negative Indexes
# Specify negative indexes if you want to start the search from the end of the tuple:


# This example returns the items from index -4 (included) to index -1 (excluded)
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1]) # prints ('orange', 'kiwi', 'melon)

('orange', 'kiwi', 'melon')

In [ ]:
# Check if Item Exists
# To determine if a specified item is present in a tuple use the in keyword:
# Check if "apple" is present in the tuple:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

##  Python - Update Tuples

 * Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

 * But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

 * Add Items: Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

 * Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

 * Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

 * Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [ ]:
# Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x) # prints ('apple', 'kiwi', 'cherry')

('apple', 'kiwi', 'cherry')

In [ ]:
# Convert the tuple into a list, add "orange", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple) # prints ('apple', 'banana', 'cherry', 'orange')

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# Create a new tuple with the value "orange", and add that tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple) # prints ('apple', 'banana', 'cherry', 'orange')

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple) # prints ('banana', 'cherry')

('banana', 'cherry')

In [ ]:
# The del keyword can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

In [ ]:
# Unpacking a Tuple
# When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
# Packing a tuple:
fruits = ("apple", "banana", "cherry")
# But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking"

In [ ]:
# Unpacking a tuple:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green) # prints apple
print(yellow) # prints banana
print(red) # prints cherry

apple
banana
cherry

In [ ]:
# Using Asterisk*
# If the number of variables is less than the number of values, you can add an * to the variable name
# and the values will be assigned to the variable as a list:

# Assign the rest of the values as a list called "red":
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green) # prints apple
print(yellow) # prints banana
print(red) # prints ['cherry', 'strawberry', 'raspberry']

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
# If the asterisk is added to another variable name than the last, Python will assign values to the variable
#until the number of values left matches the number of variables left.

# Add a list of values the "tropic" variable:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green) # prints apple
print(tropic) # prints ['mango', 'papaya', 'pineapple']
print(red) #

apple
['mango', 'papaya', 'pineapple']
cherry

In [ ]:
# Python - Loop Tuples
# You can loop through the tuple items by using a for loop.
# Iterate through the items and print the values:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [ ]:
# You can also loop through the tuple items by referring to their index number.

# Use the range() and len() functions to create a suitable iterable.

# Print all items by referring to their index number:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [ ]:
# Using a While Loop
# You can loop through the tuple items by using a while loop.

# Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

# Remember to increase the index by 1 after each iteration.

# Print all items, using a while loop to go through all the index numbers:


thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [ ]:
# Python - Join Tuples
# To join two or more tuples you can use the + operator:


# Join two tuples:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3) # prints ('a', 'b', 'c', 1, 2, 3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
# If you want to multiply the content of a tuple a given number of times, you can use the * operator:

# Multiply the fruits tuple by 2:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple) # prints ('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### Pyhon Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Note: Set items are unchangeable, but you can remove items and add new items.

Set Items:

Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered:

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable:

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

Duplicates Not Allowed
Sets cannot have two items with the same value.

Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

Note: The values False and 0 are considered the same value in sets, and are treated as duplicates:

In [ ]:
# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset) # prints {'apple', 'cherry', 'banana'}

{'apple', 'cherry', 'banana'}

In [ ]:
# True and 1 is considered the same value:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset) # prints {True, 2, 'apple', 'banana', 'cherry'}

{True, 2, 'apple', 'banana', 'cherry'}

In [ ]:
# False and 0 is considered the same value:
thisset = {"apple", "banana", "cherry", False, 0}

print(thisset) # prints {False, 'apple', 'cherry', 'banana'}

{False, 'apple', 'cherry', 'banana'}

In [ ]:
# Get the Length of a Set
# To determine how many items a set has, use the len() method.
# Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}

print(len(thisset)) # prints 3

3

In [ ]:
# Set Items - Data Types
# Set items can be of any data type:
# String, int and boolean data types
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1) # prints {'apple', 'cherry', 'banana'}
print(set2) # prints {1, 3, 5, 7, 9}
print(set3) # prints {False, True}

{'apple', 'cherry', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

In [ ]:
# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}
print(set1) # prints {'abc', True, 34, 40, 'male'}

{'abc', True, 34, 40, 'male'}

In [ ]:
# type()
# From Python's perspective, sets are defined as objects with the data type 'set':
# What is the data type of a set?
myset = {"apple", "banana", "cherry"}
print(type(myset)) # prints <class 'set'>

<class 'set'>

In [ ]:
# What is the data type of a set?
thisset = {"apple", "banana", "cherry"}
print(type(thisset)) # prints <class 'set'>

<class 'set'>

In [ ]:
# The set() Constructor
# It is also possible to use the set() constructor to make a set.
# Using the set() constructor to make a set:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset) # prints {'apple', 'cherry', 'banana'}

{'apple', 'cherry', 'banana'}

In [ ]:
# Access Items

# You cannot access items in a set by referring to an index or a key.

# But you can loop through the set items using a for loop, or ask
# if a specified value is present in a set, by using the in keyword

# Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [ ]:
# Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset) # prints True

True

In [ ]:
# Check if "banana" is NOT present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset) # prints False

False

In [ ]:
# Once a set is created, you cannot change its items, but you can add new items.
# Add an item to a set, using the add() method:
# Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset) # prints {'apple', 'orange', 'cherry', 'banana'}

{'apple', 'orange', 'cherry', 'banana'}

In [ ]:
# Add elements from tropical into thisset:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset) # prints {'apple', 'mango', 'banana', 'pineapple', 'cherry', 'papaya'}

{'apple', 'mango', 'banana', 'pineapple', 'cherry', 'papaya'}

In [ ]:
# The object in the update() method does not have to be a set, it can be any iterable
# object (tuples, lists, dictionaries etc.).
# Add elements of a list to at set:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)
print(thisset) # prints {'orange', 'apple', 'kiwi', 'banana', 'cherry'}

{'orange', 'apple', 'kiwi', 'banana', 'cherry'}

In [ ]:
# To remove an item in a set, use the remove(), or the discard() method.
# Remove "banana" by using the remove() method:
# Note: If the item to remove does not exist, remove() will raise an error.
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset) # prints {'apple', 'cherry'}

{'apple', 'cherry'}

In [ ]:
# Remove "banana" by using the discard() method:
# Note: If the item to remove does not exist, discard() will NOT raise an error.
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset) # prints {'apple', 'cherry'}

{'apple', 'cherry'}

In [ ]:
# You can also use the pop() method to remove an item, but this method will remove a random item,
# so you cannot be sure what item that gets removed.

# The return value of the pop() method is the removed item.
# Remove the last item by using the pop() method:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x) # prints apple

print(thisset) # prints {'cherry', 'banana'}

apple
{'cherry', 'banana'}

In [ ]:
# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()
print(thisset) # prints set()

set()

In [ ]:
# The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)  #this will raise an error because the set no longer exists

In [ ]:
# Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

### Python - Join Sets
Join Sets
There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

In [ ]:
# Union
# The union() method returns a new set with all items from both sets.
# Join set1 and set2 into a new set:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3) # prints {1, 'c', 2, 3, 'a', 'b'}

{1, 'c', 2, 3, 'a', 'b'}

In [ ]:
# You can use the | operator instead of the union() method, and you will get the same result.
# Use | to join two sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3) # prints {1, 'c', 2, 3, 'a', 'b'}

{1, 'c', 2, 3, 'a', 'b'}

In [ ]:
# Join Multiple Sets
# Join multiple sets with the union() method:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset) # prints {1, 'c', 2, 3, 'a', 'apple', 'bananas', 'Elena', 'cherry', 'John', 'b'}

{1, 'c', 2, 3, 'a', 'apple', 'bananas', 'Elena', 'cherry', 'John', 'b'}

In [ ]:
# When using the | operator, separate the sets with more | operators:
# Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset) # prints {1, 'c', 2, 3, 'a', 'apple', 'bananas', 'Elena', 'cherry', 'John', 'b'}

{1, 'c', 2, 3, 'a', 'apple', 'bananas', 'Elena', 'cherry', 'John', 'b'}

In [ ]:
# Join a Set and a Tuple
# The union() method allows you to join a set with other data types, like lists or tuples.

# The result will be a set.
# Join a set with a tuple:
x = {"apple", "banana", "cherry"}
y = ("kiwi", "orange")

z = x.union(y)
print(z) # prints {'apple', 'banana', 'cherry', 'kiwi', 'orange'}

{'apple', 'banana', 'cherry', 'kiwi', 'orange'}

In [ ]:
# Update
# The update() method inserts all items from one set into another.

# The update() changes the original set, and does not return a new set.

# Note: Both union() and update() will exclude any duplicate items.

# The update() method inserts the items in set2 into set1:
x = {"apple", "banana", "cherry"}
y = {"kiwi", "orange"}

x.update(y)

print(x) # prints {'orange', 'apple', 'banana', 'cherry', 'kiwi'}

{'orange', 'apple', 'banana', 'cherry', 'kiwi'}

In [ ]:
# Intersection
# Keep ONLY the duplicates

# The intersection() method will return a new set, that only contains the items that are present in both sets.

# The intersection() method returns a set that contains the similarity between two or more sets.

# Join set1 and set2, but keep only the duplicates:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z) # prints {'apple'}

{'apple'}

In [ ]:
# You can use the & operator instead of the intersection() method, and you will get the same result.
# Note: The & operator only allows you to join sets with sets, and not with other data types
# like you can with the intersection() method
# Use & to join two sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x & y

print(z) # prints {'apple'}

{'apple'}

In [ ]:
# The intersection_update() method will also keep ONLY the duplicates,
# but it will change the original set instead of returning a new set.
# Keep the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x) # prints {'apple'}

{'apple'}

In [ ]:
# The values True and 1 are considered the same value. The same goes for False and 0.
# Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3) # prints {False, 1, 'apple'}

{False, 1, 'apple'}

In [ ]:
# difference
# The difference() method will return a new set that will contain only the items
# from the first set that are not present in the other set.
# Keep all items from set1 that are not in set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3) # prints {'cherry', 'banana'}

{'cherry', 'banana'}

In [ ]:
# Note: The - operator only allows you to join sets with sets, and not with other data types like
 # you can with the difference() method.

 # The difference_update() method will also keep the items from the first set that are not in the other set,
 # but it will change the original set instead of returning a new set.

 # Use the difference_update() method to keep the items that are not present in both sets:
 # Keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

In [ ]:
# The symmetric_difference() method will keep only the elements that are NOT present in both sets.
# Keep all items from both sets, but not the items that are present in both

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3) # {'google', 'banana', 'cherry', 'microsoft'}

{'google', 'banana', 'cherry', 'microsoft'}

In [ ]:
# You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

# Use ^ to join two sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2

print(set3) # {'google', 'banana', 'cherry', 'microsoft'}

#Note: The ^ operator only allows you to join sets with sets, and not with
#other data types like you can with the symmetric_difference() method.

{'google', 'banana', 'cherry', 'microsoft'}

In [ ]:
# The symmetric_difference_update() method will also keep all but the duplicates,
# but it will change the original set instead of returning a new set.

# Use the symmetric_difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1) # prints {'google', 'banana', 'cherry', 'microsoft'}

{'google', 'banana', 'cherry', 'microsoft'}

### Python Dictionaries
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.


Dictionary items are ordered, changeable, and do not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

Dictionaries cannot have two items with the same key

The values in dictionary items can be of any data type

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
# Create and print a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict) # prints {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# Print the "brand" value of the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"]) # prints Ford

Ford

In [ ]:
# Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict) # prints {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
# Print the number of items in the dictionary:
print(len(thisdict)) # prints 3

3

In [ ]:
# The values in dictionary items can be of any data type:
# String, int, boolean, and list data types
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict) # prints {'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [ ]:
# From Python's perspective, dictionaries are defined as objects with the data type 'dict':
# Print the data type of a dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict)) # prints <class 'dict'>

<class 'dict'>

In [ ]:
# The dict() Constructor
# It is also possible to use the dict() constructor to make a dictionary
# Using the dict() method to make a dictionary:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict) # prints {'name': 'John', 'age': 36, 'country': 'Norway'}

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
# Python - Access Dictionary Items
# You can access the items of a dictionary by referring to its key name, inside square brackets:
# Get the value of the "model" key:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 196
}

x = thisdict["model"]
print(x) # prints Mustang

Mustang

In [ ]:
# There is also a method called get() that will give you the same result:
# Get the value of the "model" key:
x = thisdict.get("model")
print(x) # prints Mustang

Mustang

In [ ]:
# The keys() method will return a list of all the keys in the dictionary.
# Get a list of the keys:
x = thisdict.keys()
print(x) # prints dict_keys(['brand', 'model', 'year'])

dict_keys(['brand', 'model', 'year'])

In [ ]:
# The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary
# will be reflected in the keys list.
# Add a new item to the original dictionary, and see that the keys list gets updated

car = {"brand": "Ford","model": "Mustang","year": 1964}

x = car.keys()

print(x) # before the change dict_keys(['brand', 'model', 'year'])

car["color"] = "white"

print(x) # after the change dict_keys(['brand', 'model', 'year', 'color'])

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
# Get Values
# The values() method will return a list of all the values in the dictionary.
# Get a list of the values:
x = thisdict.values()
print(x) # prints dict_values(['Ford', 'Mustang', 196])

dict_values(['Ford', 'Mustang', 196])

In [ ]:
# The list of the values is a view of the dictionary, meaning that any changes done to the dictionary
# will be reflected in the values list.
# Make a change in the original dictionary, and see that the values list gets updated

car = {"brand": "Ford","model": "Mustang","year": 1999}

x = car.values()

print(x) # before the change dict_values(['Ford', 'Mustang', 1999]}

car["year"] = 2020

print(x) # after the change dict_values(['Ford', 'Mustang', 2020])

dict_values(['Ford', 'Mustang', 1999])
dict_values(['Ford', 'Mustang', 2020])

In [ ]:
# Add a new item to the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change: dict_values(['Ford', 'Mustang', 1964])

car["color"] = "red"

print(x)  # dict_values(['Ford', 'Mustang', 1964, 'red'])

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [ ]:
# Get Items
# The items() method will return each item in a dictionary, as tuples in a list.
# Get a list of the key:value pairs
x = thisdict.items()
print(x) # prints dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 196)])

In [ ]:
# Make a change in the original dictionary, and see that the items list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change: dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

car["year"] = 2020

print(x) #after the change: dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [ ]:
# Add a new item to the original dictionary, and see that the items list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change : dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

car["color"] = "red"

print(x) #after the change : dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [ ]:
# To determine if a specified key is present in a dictionary use the in keyword:
# Check if "model" is present in the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [ ]:
# Python - Change Dictionary Items
# You can change the value of a specific item by referring to its key name
# Change the "year" to 2018:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict) # prints {'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
# The update() method will update the dictionary with the items from the given argument.

# The argument must be a dictionary, or an iterable object with key:value pairs.

# Update the "year" of the car by using the update() method
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict) # prints {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
# Python - Add Dictionary Items
# Adding an item to the dictionary is done by using a new index key and assigning a value to it:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["color"] = "red"
print(thisdict) # prints {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
# The update() method will update the dictionary with the items from a given argument.
# If the item does not exist, the item will be added.

# The argument must be a dictionary, or an iterable object with key:value pairs

# Add a color item to the dictionary by using the update() method:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict) # prints {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
# Python - Remove Dictionary Items
# There are several methods to remove items from a dictionary:
# The pop() method removes the item with the specified key name:
# Remove "model" from the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict) # prints {'brand': 'Ford', 'year': 1964}

{'brand': 'Ford', 'year': 1964}

In [ ]:
# The popitem() method removes the last inserted item
# Remove the last item from the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict) # prints {'brand': 'Ford', 'model': 'Mustang'}

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
# The del keyword removes the item with the specified key name:
# Remove the "model" item:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict) # prints {'brand': 'Ford', 'year': 1964}

{'brand': 'Ford', 'year': 1964}

In [ ]:
# The del keyword can also delete the dictionary completely:
# Delete the thisdict
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) # this will cause an error because "thisdict" no longer exists.

In [ ]:
# The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict) # prints {}

{}

In [ ]:
# Python - Loop Dictionaries
# You can loop through a dictionary by using a for loop.
# When looping through a dictionary, the return value are the keys of the dictionary,
# but there are methods to return the values as well.

# dictionary, but there are methods to return the values as well.
# Print all key names in the dictionary, one by one:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x) # prints brand, model, year

brand
model
year

In [ ]:
# Print all values in the dictionary, one by one:
# Print all values in the dictionary, one by
for x in thisdict:
  print(thisdict[x]) # prints Ford, Mustang, 1964

Ford
Mustang
1964

In [ ]:
# You can also use the values() method to return values of a dictionary:
# Print all values in the dictionary, one by one:
for x in thisdict.values():
  print(x) # prints Ford, Mustang, 1964

Ford
Mustang
1964

In [ ]:
# you can use the keys() method to return the keys of a dictionary:
for x in thisdict.keys():
  print(x) # prints brand, model, year

brand
model
year

In [ ]:
# You can use the keys() method to return the keys of a dictionary:
# Loop through both keys and values, by using the items() method:
for x, y in thisdict.items():
  print(x, y) # prints brand Ford, model Mustang, year 1964

brand Ford
model Mustang
year 1964

In [ ]:
# Python - Copy Dictionaries
# You cannot copy a dictionary simply by typing dict2 = dict1, because:
# dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

# There are ways to make a copy, one way is to use the built-in Dictionary method copy().

# Make a copy of a dictionary with the copy() method:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict) # prints {'brand': 'Ford', 'model': 'Mustang', 'year': 196

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# Another way to make a copy is to use the built-in function dict().
# Make a copy of a dictionary with the dict() function:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 196
  }
mydict = dict(thisdict)
print(mydict) # prints {'brand': 'Ford', 'model': 'Mustang', 'year': 196}

{'brand': 'Ford', 'model': 'Mustang', 'year': 196}

In [ ]:
# Python - Nested Dictionaries
# A dictionary can contain dictionaries, this is called nested dictionaries.
# Create a dictionary that contain three dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily) # prints {'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007},
#'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily) # prints
# {'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007},
# 'child3': {'name': 'Linus', 'year': 2011}}

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
# To access items from a nested dictionary,
# you use the name of the dictionaries, starting with the outer dictionary:
# Print the name of child 2:
print(myfamily["child2"]["name"]) # prints Tobias

Tobias

In [ ]:
# You can loop through a dictionary by using the items() method like this:
# Print all child's names and ages:
for x, y in myfamily.items():
  print(x, y) # prints

child1 {'name': 'Emil', 'year': 2004}
child2 {'name': 'Tobias', 'year': 2007}
child3 {'name': 'Linus', 'year': 2011}