<a href="https://colab.research.google.com/github/ramu11/PyTorch_ML_Models/blob/main/python-fundamentals/Python_fundamentals_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Indentation
 Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
# The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [ ]:
# You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (<ipython-input-2-fa2fdef2677d>, line 4)

### Python Comments
Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code:

To add a multiline comment you could insert a # for each line:

This is a comment  written in more than just one line
print("Hello, World!")

"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

### Python Variables
Variables are containers for storing data values.

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
# Casting
# If you want to specify the data type of a variable, this can be done with casting.
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
# You can get the data type of a variable with the type() function.
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
# String variables can be declared either by using single or double quotes:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

In [ ]:
# Variable names are case-sensitive.
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

### Rules for Python variables

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

In [ ]:
# Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [ ]:
# Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

#This example will produce an error in the result

In [ ]:
# Python allows you to assign values to multiple variables in one line:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
# you can assign the same value to multiple variables in one line:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
# If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
# Output Variables
# The Python print() function is often used to output variables.
x = "Python is awesome"
print(x)

Python is awesome

In [ ]:
# In the print() function, you output multiple variables, separated by a comma:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
# For numbers, the + character works as a mathematical operator:
x = 5
y = 10
print(x + y)

15

In [ ]:
# In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:
x = 5
y = "John"
print(x + y)

In [ ]:
# The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:
x = 5
y = "John"
print(x, y)

5 John

In [ ]:
# Global Variables: Global variables can be used by everyone, both inside of functions and outside.
#Create a variable outside of a function, and use it inside the function
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
# Create a variable inside a function, with the same name as the global variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
# To create a global variable inside a function, you can use the global keyword.
# If you use the global keyword, the variable belongs to the global scope:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

### Python Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview
* None Type:	NoneType

In [ ]:
#In Python, the data type is set when you assign a value to a variable:
X = "Hello World"
print(type(X))

<class 'str'>

In [ ]:
# set the list
X = ["apple", "banana", "cherry"]
print(type(X))

<class 'list'>

In [ ]:
# set the tuple
X = ("apple", "banana", "cherry")
print(type(X))

<class 'tuple'>

In [ ]:
# set the set
X = {"apple", "banana", "cherry"}
print(type(X))

<class 'set'>

In [ ]:
# set the frozen set, immutable
X = frozenset({"apple", "banana", "cherry"})
print(type(X))

<class 'frozenset'>

In [ ]:
# set the dictionary
X = {"name" : "John", "age" : 36}
print(type(X))

<class 'dict'>

In [ ]:
# set the bytearray
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [ ]:
# memoryview: The memoryview() function allows direct read and write access to an object's
#byte-oriented data without needing to copy it first
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x7d725027c7c0>
<class 'memoryview'>

In [ ]:
# python complex data type
x = 3+5j # real + imaginary data
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
# If you want to specify the data type, you can use the following constructor functions:
# python str constructor
x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [ ]:
# python float constructor
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [ ]:
# python list, tuple, set, dict constructor
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [ ]:
# python tuple constructor
x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [ ]:
# python set constructor
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [ ]:
# python dict constructor
x = dict(name="John", age=36)

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [ ]:
# set memoryview constructor
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x7d725027cdc0>
<class 'memoryview'>

### Python Numbers

There are three numeric types in Python:

In [ ]:
# Variables of numeric types are created when you assign a value to them:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [ ]:
# To verify the type of any object in Python, use the type() function:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#Float, or "floating point number" is a number, positive or negative, containing one or more decimals
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
# Float can also be scientific numbers with an "e" to indicate the power of 10
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))
#

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
# Complex numbers are written with a "j" as the imaginary part:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

### Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

Note: You cannot convert complex numbers into another number type.

In [ ]:
# Convert from one type to another:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
# Import the random module, and display a random number between 1 and 9:
import random

print(random.randrange(1, 10))

6

### Python Casting
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

* int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

* float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

* str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
# Integers
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x)
print(y)
print(z)

1
2
3

In [ ]:
# float
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [ ]:
# srings
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x)
print(y)
print(z)

s1
2
3.0

### Python Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
# You can use quotes inside a string, as long as they don't match the quotes surrounding the string:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [ ]:
# You can assign a multiline string to a variable by using three quotes:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
# Or three single quotes:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
# Strings are Arrays
#Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

#However, Python does not have a character data type, a single character is simply a string with a length of 1.

#Square brackets can be used to access elements of the string.

# Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[1])

e

In [ ]:
# Since strings are arrays, we can loop through the characters in a string, with a for loop.
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
# To get the length of a string, use the len() function.
a = "Hello, World!"
print(len(a))

13

In [ ]:
# To check if a certain phrase or character is present in a string, we can use the keyword in
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
# Print only if "free" is present:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
# To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
# print only if "expensive" is NOT present:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [ ]:
# Slicing
# You can return a range of characters by using the slice syntax.
# Specify the start index and the end index, separated by a colon, to return a part of the string.
# Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
# Get the characters from the start to position 5 (not included):
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
# Get the characters from position 2, and all the way to the end:
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
# Negative Indexing
# Use negative indexes to start the slice from the end of the string:
# Get the characters:
#From: "o" in "World!" (position -5)
#To, but not included: "d" in "World!" (position -2):
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
# The upper() method returns the string in upper case:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
# The strip() method removes any whitespace from the beginning or the end:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
# The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
# The split() method splits the string into substrings if it finds instances of the separator:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [ ]:
# To concatenate, or combine, two strings you can use the + operator.
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
# To add a space between them, add a " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
# String Format
# As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:
age = 36
txt = "My name is John, I am " + age
print(txt)

In [ ]:
# But we can combine strings and numbers by using f-strings or the format() method!
# F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

#To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders
#for variables and other operations.

# Create an f-string:
age = 36
txt = f"My name is John, and I am {age}"
print(txt)

My name is John, and I am 36

In [ ]:
# A placeholder can contain variables, operations, functions, and modifiers to format the value.
# Add a placeholder for the price variable:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [ ]:
# A placeholder can include a modifier to format the value.

#A modifier is included by adding a colon : followed by a legal formatting type,
#like .2f which means fixed point number with 2 decimals:

# Display the price with 2 decimals:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
# Perform a math operation in the placeholder, and return the result:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
# The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
# Other escape characters used in Python:
# \'	Single Quote
# \\	Backslash
# \n	New Line
# \r	Carriage Return
# \t	Tab
# \b	Backspace
# \f	Form
# \ooo	Octal value
# \xhh	Hex value

### python String Methods
Python has a set of built-in methods that you can use on strings.

Note: All string methods return new values. They do not change the original string.

In [ ]:
# All Python String methods
# capitalize()
# The capitalize() method returns a string where the first character is upper case, and the rest is lower case.
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [ ]:
# casefold()
# The casefold() method returns a string where all the characters are lower case.

#This method is similar to the lower() method, but the casefold() method is stronger,
#more aggressive, meaning that it will convert more
#characters into lower-case, and will find more matches when comparing two strings and both are converted using the casefold() method.

txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [ ]:
# center()
# The center() method will center align the string, using a specified character (space is default) as the fill character.

#txt = "banana"

txt = "banana"

x = txt.center(20)

print(x)

       banana

In [ ]:
# count()
# The count() method returns the number of times a specified value appears in the string.

#txt = "I love apples, apple are my favorite fruit"

txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [ ]:
# encode()
# The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

#txt = "My name is Ståle"

txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [ ]:
3 # endswith()
# The endswith() method returns True if the string ends with the specified value, otherwise False.

#txt = "Hello, welcome to my world."

txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [ ]:
# expandtabs()
# The expandtabs() method sets the tab size to the specified number of whitespaces.

#txt = "H\te\tl\tl\to"

txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [ ]:
# find()
# The find() method finds the first occurrence of the specified value.

#txt = "Hello, welcome to my world."

txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [ ]:
# format()
# The format() method formats the specified value(s) and insert them inside the string's placeholder.

txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

#The format() method returns the formatted string.

For only 49.00 dollars!

In [ ]:
# format_map()
# The format_map() method formats the specified value(s) and insert them inside the string's placeholder.

In [ ]:
# index()
# The index() method finds the first occurrence of the specified value.

#txt = "Hello, welcome to my world."

txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [ ]:
# isalnum()
# The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

#txt = "Company12"

txt = "Company12"

x = txt.isalnum()

print(x)

True

In [ ]:
# isalpha()
# The isalpha() method returns True if all the characters are alphabet letters (a-z).

#txt = "CompanyX"

txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [ ]:
# isascii()
# The isascii() method returns True if all the characters are ascii characters

#txt = "Company123"

txt = "Company123"

x = txt.isascii()

print(x)

True

In [ ]:
# isdecimal()
# The isdecimal() method returns True if all the characters are decimals (0-9).

#txt = "12345"

txt = "12345"

x = txt.isdecimal()

print(x)

True

In [ ]:
# isdigit()
# The isdigit() method returns True if all the characters are digits, otherwise False.

#txt = "50800"

txt = "50800"

x = txt.isdigit()

print(x)

True

In [ ]:
# isidentifier()
# The isidentifier() method returns True if the string is an identifier, otherwise False.

#txt = "Demo"

txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [ ]:
# isnumeric()
# The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.

#txt = "565543"

txt = "565543"

x = txt.isnumeric()

print(x)

True

In [ ]:
# isprintable()
# The isprintable() method returns True if all the characters are printable, otherwise False.
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [ ]:
# isspace()
# The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.

#txt = "   "

txt = "   "

x = txt.isspace()

print(x)

True

In [ ]:
# join()
# The join() method takes all items in an iterable and joins them into one string.

#myTuple = ("John", "Peter", "Vicky")

myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [ ]:
# ljust()
# The ljust() method will left align the string, using a specified character (space is default) as the fill character.

#txt = "banana"

txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [ ]:
# lstrip()
# The lstrip() method removes any leading characters (space is the default leading character to remove)

#txt = "     banana     "

txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [ ]:
# maketrans()
# The maketrans() method returns a mapping table that can be used with the translate() method
# to replace specified characters.
# Create a mapping table, and use it in the translate() method to replace any "S" characters with a "P" character:

txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [ ]:
# The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.
#txt = "Hi Sam!"
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [ ]:
# The third parameter in the mapping table describes characters that you want to remove from the string:

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [ ]:
# The maketrans() method itself returns a dictionary describing each replacement, in unicode:

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
print(str.maketrans(x, y, z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

In [ ]:
# Python String partition() Method
#Search for the word "bananas", and return a tuple with three elements:

#1 - everything before the "match"
#2 - the "match"
#3 - everything after the "match"

txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [ ]:
# If the specified value is not found, the partition() method returns a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string:

txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

In [ ]:
# replace()
# The replace() method replaces a specified phrase with another specified phrase.

#txt = "I like bananas"

txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [ ]:
# Replace the two first occurrence of the word "one":

txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

In [ ]:
# rfind()
# The rfind() method finds the last occurrence of the specified value.

#txt = "Hello, welcome to my world."

txt = "Hello, welcome to my world."

x = txt.rfind("o")

print(x)

22

In [ ]:
# Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 20?:

txt = "Hello, welcome to my world."

x = txt.rfind("e", 5, 20)

print(x)

13

In [ ]:
# rindex()
# The rindex() method finds the last occurrence of the specified value.
# The rindex() method raises an exception if the value is not found.

txt = "Hello, welcome to my world."

x = txt.rindex("e")

print(x)

13

In [ ]:
# rjust()
# The rjust() method will right align the string, using a specified character (space is default) as the fill character.

txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [ ]:
# Using the letter "O" as the padding character:

txt = "banana"

x = txt.rjust(20, "O")

print(x)

OOOOOOOOOOOOOObanana

In [ ]:
# rpartition()
# The rpartition() method searches for the last occurrence of a specified string,
#and splits the string into a tuple containing three elements.

# Search for the last occurrence of the word "bananas", and return a tuple with three elements:

#1 - everything before the "match"
#2 - the "match"
#3 - everything after the "match"

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [ ]:
# rsplit()
# The rsplit() method splits a string into a list, starting from the right.

# Split the string into a list with maximum 2 items:

txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)

print(x)

['apple, banana', 'cherry']

In [ ]:
# rstrip()
# The rstrip() method removes any trailing characters (characters at the end a string),
# space is the default trailing character to remove.

txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [ ]:
# Remove the trailing characters if they are commas, periods, s, q, or w:

txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

banana

In [ ]:
# split()
# The split() method splits a string into a list.

# Split a string into a list where each word is a list item:

txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [ ]:
# splitlines()
# The splitlines() method splits a string into a list. The splitting is done at line breaks.

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [ ]:
# startswith()
# The startswith() method returns True if the string starts with the specified value, otherwise False.

txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [ ]:
# strip()
# The strip() method removes any leading, and trailing whitespaces (space is the default leading character to remove)

txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [ ]:
# swapcase()
# The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

# Make the lower case letters upper case and the upper case letters lower case:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [ ]:
# translate()
# The translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [ ]:
# Use a mapping table to replace many characters:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [ ]:
# The third parameter in the mapping table describes characters that you want to remove from the string:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [ ]:
# zfill()
# The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.
# If the value of the len parameter is less than the length of the string, no filling is done.

txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [ ]:
# Fill the strings with zeros until they are 10 characters long:

a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000